
body{
	font: 20px arial, sans-serif;
}

#navbar {
	background-color:  #00264d;
}

.navbar {
	background-color:  #00264d;

}
.quem-somos {
	background-color:  #404040;
	color: white;
}

.margin {
	padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros {
	background-color: #33ff77;
}

.bg-footer{
	background-color: black;
	color: white;
}

.photo{
	border: 1px solid #505050;
	border-radius: 8%;
}

#baixo{
  margin-left: 425px ;
  margin-bottom: 15px;
  margin-top: 15px; 
}

.margin2{
        
     padding-top:15px;
     padding-bottom: 15px; 
}

.sla{
	background-color: black;
}
